.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----Header Styling ---*/

/*---Header ends --*/

.alert-heading.h4 {
  font-size: 0.4rem;
  text-align: center;
  color: red;
}
.alert {
  margin-bottom: 0;
}
.alert,
p {
  font-size: 0.4rem;
  text-align: center;
  color: red;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

/*---Footer----*/
.footer-wrapper {
  position: relative;
  margin-top: 3rem;
  background-color: black;
  border-radius: 5px;
  color: white;
}
.inner-wrapper {
  padding: 2rem;
}
h6 {
  text-align: center;
  padding: 2rem;
}

/* ---Join Module---*/
.joinheading {
  font-family: cursive;
  text-align: center;
}
